@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

